{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>08:30-09:30</td><td> Installation of software</td></tr>
      <tr><td></td><td><b>Data organization in spreadsheets</b></td></tr>
      <tr><td>10:00-10:15 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/00-intro/>Introduction</a></td></tr>
      <tr><td>10:15-11:00 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/>Formatting data tables in Spreadsheets</a></td></tr>
      <tr><td>11:00-11:20 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/>Formatting problems</a></td></tr>
      <tr><td>11:20-11:40 </td><td><b> Tea Break</b></td></tr>
      <tr><td>11:40-11:50 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/>Dates as data</a></td></tr>
      <tr><td>11:50-12:00 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control/>Quality control</a></td></tr>
      <tr><td>12:00-12:15 </td><td><a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data/>Exporting data</a></td></tr>
      <tr><td>12:15-13:00 </td><td><b>Lunch Break</b></td></tr>
      <tr> <td></td><td><b>OpenRefine for data cleaning</b></td></tr>
      <tr><td>13:00-13:10 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/00-getting-started/>Introduction</a></td></tr>
      <tr><td>13:10-13:55 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/01-working-with-openrefine/>Working with OpenRefine</a></td></tr>
      <tr><td>13:55-14:15 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/02-filter-exclude-sort/>Filtering and Sorting with OpenRefine</a></td></tr>
      <tr><td>14:15-14:35 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/03-numbers/>Examining Numbers in OpenRefine</a></td></tr>
      <tr><td>14:35-14:50 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/04-scripts/>Scripts from OpenRefine</a></td></tr>
      <tr><td>14:50:15:10 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/05-save-export/>Exporting and Saving Data from OpenRefine</a></td></tr>
      <tr><td>15:10-15:30 </td><td><a href=http://www.datacarpentry.org/OpenRefine-ecology-lesson/06-resources/>Other Resources in OpenRefine</a></td></tr>
      <tr><td>15:30-16:00  </td><td><a href=http://www.datacarpentry.org/R-ecology-lesson/01-intro-to-r.html>Introduction to R</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:00</td> <td><a href=http://www.datacarpentry.org/R-ecology-lesson/02-starting-with-data.html>Starting with data in R</a></td></tr>
      <tr> <td>10:00-12:15</td> <td><a href=http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html>Manipulating and analyzing data with dplyr; Exporting data</a></td></tr>
      <tr> <td>12:15-13:00</td> <td><b> Lunch Break</b></td></tr>
      <tr> <td>13:00-14:30</td> <td><a href=http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html>Data visualization with ggplot2</a></td></tr>
      <tr> <td>14:30-15:30</td> <td><a href=http://www.datacarpentry.org/R-ecology-lesson/05-r-and-databases.html>databases and R</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30-09:00</td> <td><b>Morning Tea</b></td></tr>
      <tr> <td>09:00-10:00</td> <td><a href=http://www.datacarpentry.org/sql-ecology-lesson/00-sql-introduction>Databases using SQL</a></td></tr>
      <tr> <td>10:00-10:40</td> <td><a href=http://www.datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries>Basic Queries</a></td></tr>
      <tr> <td>10:40-11:30</td> <td><a href=http://www.datacarpentry.org/sql-ecology-lesson/02-sql-aggregation>SQL Aggregation</a></td></tr>
      <tr> <td>11:30-12:15</td> <td><a href=http://www.datacarpentry.org/sql-ecology-lesson/03-sql-joins-aliases>Joins and aliases</a></td></tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
